<div [id]="id" class="sidenav" [class.open]="isOpen">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    
    <div class="modal-body" *ngIf="selectedProject">
      <div class="modal-header">
        <h2>{{ selectedProject.title }} ({{ selectedProject.category }})</h2>
        <!-- <div class="modal-links">
          <a [href]="selectedProject.liveUrl" target="_blank" class="btn btn-small">
            <i class="fas fa-external-link-alt"></i> Live Demo
          </a>
          <a [href]="selectedProject.githubUrl" target="_blank" class="btn btn-small btn-outline">
            <i class="fab fa-github"></i> Source Code
          </a>
        </div> -->
      </div>
    
      <div class="modal-image">
        <div class="screen">
          <img [src]="selectedProject.imageUrl" [alt]="selectedProject.title">
        </div>
        <div class="camera"></div>
      </div>
    
      <div class="modal-description">
        <p>{{ selectedProject.longDescription }}</p>
      </div>
    
      <div class="reference-gallery" *ngIf="selectedProject.referenceImages.length > 0">
        <h3>Project Screenshots</h3>
        <div class="gallery-grid">
          <div class="gallery-item" *ngFor="let image of selectedProject.referenceImages">
            <img [src]="image.url" [alt]="selectedProject.title + ' screenshot'" (click)="openImageModal(image.url)">
            <div class="image-description">{{ image.description }}</div>
          </div>
        </div>
      </div>
    
      <div class="modal-tech">
        <h3>Client</h3>
        <div>
          <span >{{ selectedProject.client }}</span>
        </div>
      </div>
    
      <div class="modal-tech">
        <h3>Technologies Used</h3>
        <div class="tech-tags">
          <span *ngFor="let tech of selectedProject.technologies">{{ tech }}</span>
        </div>
      </div>
    
      <div class="modal-features">
        <h3>Key Features</h3>
        <ul>
          <li *ngFor="let feature of selectedProject.features">{{ feature }}</li>
        </ul>
      </div>
    
      <div class="modal-challenges">
        <h3>Challenges & Solutions</h3>
        <div class="challenge-solution">
          <div class="challenges">
            <h4>Challenges</h4>
            <ul>
              <li *ngFor="let challenge of selectedProject.challenges">{{ challenge }}</li>
            </ul>
          </div>
          <div class="solutions">
            <h4>Solutions</h4>
            <ul>
              <li *ngFor="let solution of selectedProject.solutions">{{ solution }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
  