<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title"><span class="highlight">Zaireen Akhzar</span></h1>
    <h2 class="hero-subtitle">Frontend Developer</h2>
    <div class="profile-card">
      <div class="description">
        Hello! I’m Zaireen Akhzar, a front-end developer based in Sepang, Selangor.
        Over the past four years, I’ve been passionate about building, debugging, and
        maintaining websites that deliver exceptional user experiences. I’ve had the
        opportunity to work on various projects that have expanded my knowledge,
        including exciting ventures into GIS and Babylon 3D. I’m skilled in HTML, CSS,
        C#, JavaScript, and TypeScript, and I work with frameworks like Vue, Angular
        and .NET. I’m always eager to learn and grow in this ever-evolving field.
      </div>
      <!-- <p class="hero-description">
        I create beautiful, responsive, and user-friendly web experiences using
        modern technologies.
      </p> -->
    </div>
    
    <div class="hero-buttons">
      <a (click)="navigateTo('projects')" class="btn">View My Work</a>
      <a (click)="navigateTo('contacts')" class="btn btn-outline">Contact Me</a>
    </div>
    <div class="tech-stack">
      <div *ngFor="let item of skills">
        <span class="tech-item">{{ item }}</span>
      </div>

    </div>
    <!-- <div style="margin-top: 50px;">
      Hello! I’m Zaireen Akhzar, a front-end developer based in Sepang, Selangor.
      Over the past four years, I’ve been passionate about building, debugging, and
      maintaining websites that deliver exceptional user experiences. I’ve had the
      opportunity to work on various projects that have expanded my knowledge,
      including exciting ventures into GIS and Babylon 3D. I’m skilled in HTML, CSS,
      C#, JavaScript, and TypeScript, and I work with frameworks like Vue, Angular
      and .NET. I’m always eager to learn and grow in this ever-evolving field.
    </div> -->

  
  </div>
  <div class="hero-image">
    <div class="shape"></div>
  </div>
</section>