<div class="layout-topbar">
    <div class="topbar-logo">
        nzaz
    </div>
    <div class="layout-topbar-buttons">
        <a routerLink="/" routerLinkActive="active" class="topbar-buttons">home</a>
        <a routerLink="/projects" routerLinkActive="active" class="topbar-buttons">projects</a>
        <a routerLink="/about" routerLinkActive="active" class="topbar-buttons">about-me</a>
        <a routerLink="/contact" routerLinkActive="active" class="topbar-buttons">contacts</a>
    </div>
</div>