<div class="layout-topbar">
    <div class="topbar-logo">
        nzaz
    </div>
    <div class="layout-topbar-buttons">
        <button class="topbar-buttons" [ngClass]="{'active': isHome}" (click)="navigateTo('home')">home</button>
        <button class="topbar-buttons" [ngClass]="{'active': isProjects}" (click)="navigateTo('projects')">projects</button>
        <button class="topbar-buttons" [ngClass]="{'active': isPersonal}" (click)="navigateTo('about-me')">about-me</button>
        <button class="topbar-buttons" [ngClass]="{'active': isContacts}" (click)="navigateTo('contacts')">contacts</button>
    </div>
</div>