<div class="layout-topbar" [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleSidebar()">
        <i class="pi" [class.pi-angle-right]="isCollapsed" [class.pi-angle-left]="!isCollapsed"></i>
    </button>
    <div class="topbar-content">
        <div class="topbar-logo">
            nzaz
        </div>
        <div class="layout-topbar-buttons">
            <button class="topbar-buttons" [ngClass]="{'active': isHome}" (click)="navigateTo('home')">
                <span class="button-icon"><img src="assets/icon/smartphone.png" style="height: 20px; width: 20px;" alt="home"></span>
                <span class="button-text">home</span>
            </button>
            <button class="topbar-buttons" [ngClass]="{'active': isProjects}" (click)="navigateTo('projects')">
                <!-- <span class="button-icon">💻</span> -->
                <span class="button-icon"><img src="assets/icon/laptop.png" style="height: 20px; width: 20px;" alt="home"></span>
                <span class="button-text">projects</span>
            </button>
            <button class="topbar-buttons" [ngClass]="{'active': isPersonal}" (click)="navigateTo('about-me')">
                <!-- <span class="button-icon">👤</span> -->
                <span class="button-icon"><img src="assets/icon/love.png" style="height: 20px; width: 20px;" alt="home"></span>
                <span class="button-text">about-me</span>
            </button>
            <button class="topbar-buttons" [ngClass]="{'active': isContacts}" (click)="navigateTo('contacts')">
                <!-- <span class="button-icon">📧</span> -->
                <span class="button-icon"><img src="assets/icon/photo-book.png" style="height: 20px; width: 20px;" alt="home"></span>
                <span class="button-text">contacts</span>
            </button>
            <button class="topbar-buttons theme-toggle" (click)="toggleTheme()">
                <i class="pi" [class.pi-moon]="!isDarkMode" [class.pi-sun]="isDarkMode"></i>
                <span class="button-text">Theme</span>
            </button>
        </div>
    </div>
</div>